
<% layout('layouts/boilerplate.ejs') %> 
<div id='map' style='width: 100%; height: 300px;'></div>
  <h1>All farms here:</h1>
  <div class="d-flex flex-wrap">
      <% for(let farm of farms){ %> 
      <div class="card mb-3 mx-3" style="width: 500px">
        <% if(farm.image.length){ %> 
        <img src="<%= farm.image[0].url %> " class="card-img-top" alt="...">
        <% } else { %>
          <img src="https://res.cloudinary.com/dcmoi0lpr/image/upload/v1668181723/explorerShop/ldnzrm7skipgvbekt6io.jpg" class="card-img-top" alt="farm pic"> <% } %> 
          <div class="card-body">
            <h5 class="card-title">Farm name :<%=farm.name %></h5>
            <p class="card-text">Farm origin:<%= farm.location %> </p>
            <a class="card-link btn btn-info" href="/farms/<%= farm._id %>">Details</a>
          </div>
          
        </div>
      <% } %> 
  </div>

  <script>
    const mapToken = `<%-process.env.MAPBOX_TOKEN%>`
    const farms = {features:<%- JSON.stringify(farms) %>}
</script>

  <script src="/javascripts/indexClusterMap.js"></script>