<% layout('layouts/boilerplate.ejs') %> 

<div class="row">
    <h1 class="text-center">Add product to <%= farm.name %> </h1>
    <div class="col-6 offset-3">
        <form action="/farms/<%= farm._id %>/products" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" name="product[name]" id="name" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
    
            <div class="mb-3">
                <label for="form-label" for="category">Select Category</label>
                <select class="form-select" aria-label="Default select example" name="product[category]" id="category">
                    <% for(let category of categories){ %>
                     <option value="<%=category%>"><%=category%></option>
                    <% } %>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Product Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="product[price]" required>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" name="product[image]" id="image" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>


            <div class="mb-3">
            <button class="btn btn-success">Add Product</button>
        </div>
        </form>
       <a href="/farms/<%= farm._id %> ">Back to farm</a>
    </div>
</div>


